---

---

<header id="inicio" class="hero">
    <div class="hero-video-bg">
        <video src="/BG-Hero.mp4" autoplay loop muted playsinline></video>
    </div>
    <div class="hero-overlay"></div>
    <div class="container hero-content">
        <img
            src="/logo-cantoqueuneG.svg"
            alt="Canto Que Une"
            class="hero-logo"
        />

        <h1 class="main-title">
            <span class="small-block">POR PRIMERA VEZ EN MÉXICO</span>
            Indios Beta
        </h1>

        <div class="hero-buttons">
            <a href="#fechas" class="btn btn-primary">Boletos</a>
            <a href="#conocenos" class="btn btn-secondary">Saber más</a>
        </div>
    </div>
</header>
