---

---

<section id="productos" class="products-section">
    <div class="container">
        <h2 class="section-title">Productos</h2>
        <div class="products-grid">
            <div class="product-item">
                <img src="/image/principal/discos/disco1.png" alt="Album 1" />
            </div>
            <div class="product-item">
                <img src="/image/principal/discos/disco2.png" alt="Album 2" />
            </div>
            <div class="product-item">
                <img src="/image/principal/discos/disco3.png" alt="Album 3" />
            </div>
            <div class="product-item">
                <img src="/image/principal/discos/disco4.png" alt="Album 4" />
            </div>
            <div class="product-item">
                <img src="/image/principal/discos/disco5.png" alt="Album 5" />
            </div>
        </div>
    </div>
</section>
